
* {
  margin: 0;
  padding: 0;
  color: #6e1ab3;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

body,
html {
  background-color: #d4ffeb;
}

#pod_title {
    font-size: 30px;
    padding: 7px;
    background-color: #6e1ab3;
    color: white;
    text-indent: 25px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #8dc7cc;
}

.ep_title {
    color: #193987;
    font-weight: 800;
    text-shadow: 1px 1px 2px #ffffff;
    font-size: 16px;
}

.end {
    border-bottom: 2px solid gray;

}

.auth-back {
    background-color: #645dba;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 2px 2px 1px black;
    left: 30%;
    top: 18%
}

.auth-back:hover {
    background-color: #4a3e7e;
    color: #b5b5b5;
}



.button {
    background-color: #645dba;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 5px 5px 1px #7accb6;
    height: 45px;
}

.button:hover {
    background-color: #4a3e7e;
    color: #b5b5b5;
}

.row {
    display: flex;
}

.column {
    flex: 10%;
    padding: 30px;
}

table {
    width: 100%;
    position: relative;
    background-color: #e2d8ea;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #72837e;

}
tr{
    text-align: left;

}

th {
    color: #997fb5;
    font-size: 13px;
    text-align: left;
}

b {
    color: #e2d8ea;
}

i {
    font-weight: bolder;
    font-size: large;
    color: #380461;
}

h1 {
    width: 32%;
    padding-bottom: 8px;
    padding-top: 8px;
    align-self: flex-start;
    text-align: left;
    font-weight: bold;
    padding-left: 25px;
    color: #ffffff;
    background-color: #68517e;
    border-bottom-right-radius: 15px;
    box-shadow: 4px 4px 3px #317980;

}

#logo {
  width: 150px;
}

nav {
    width: 300px;
    height: 100%;
    position: fixed;
    float: left;
    padding: 30px 0;
    background-color: #37917a;
    box-shadow: 10px 0 12px #1f4953;
}

nav .heading {
    font-size: 30px;
    font-weight: 700;
    color: white;
    text-align: center;
}

nav .heading p {
    color: #e4adf3;
    text-shadow: 1px 1px 1px #2f1e71;
}
nav ul {
    display: inline;
    list-style: none;
    position: relative;
    text-align: center;
}

nav ul li {
    padding: 15px 15px;
    border-radius: 100px;
    transition: 0.5s ease-in;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

/* possibly not needed */
nav ul li a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

nav ul li:hover {
    background-color: #2f1e71;
    border-bottom: 3px outset #bd35bd;
    border-right: 3px outset #bd35bd;
    font-weight: bolder;

}

nav ul li a:hover {
    color: white;
    font-weight: bolder;
}

#nav-footer {
  color: #fff;
  margin-top: 25px;
  margin-bottom: 20px;
  position: absolute;
  bottom: 0;
  font-size: small;
  text-align: center;
  word-wrap: break-word;
  left: 20%
}

#top_block {
    width: 80%;
    align-self: flex-start;
    color: #222760;
    font-size: 8px;
    background-color: #222760;
    border-bottom-right-radius: 10px;
    box-shadow: 6px 4px 3px #64bfb4;
}

img {
  display: block;
  width: 500px;
  height: auto;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  width:100%;
  padding-bottom: 10px;
  padding-top: 10px;
  background: #3a0e8e;
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-align: left;
  text-indent: 20px;
  font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
  box-shadow: 11px 2px 13px #13415a;
}

#content-2 {
  height: 100vh;
  margin-left: 300px; /* Assuming the navbar's width is 250px */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
}

#container {
  width: 100%;
  display: flex;
  justify-content: center; /* Center content horizontally */
}

#container2 {
  width: 60%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  text-align: center; /* Center content horizontally */
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 10px 5px gray;
}

#heading-2 {
    padding-bottom: 10px;
    padding-right: 700px;
    justify-content: left;
    text-align: left;
    color: #404040;
}

#main {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  padding: 10px;
  color: #717171;
  line-height: 25px;
  display: flex;
  justify-content: center; /* Center the search-container */
}

#des-main {
    margin-top: 20px;
    max-width: 1000px;
}

.icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: -0.5em;
    fill: currentColor;
    overflow: hidden;
}


.search-container {
  display: flex;
  align-items: center;
  width: 244px;
  border: 1px solid #c4dfd3;
  background-color: #3419a3;
  border-radius: 5px 5px 12px 12px;
  overflow: hidden;
}

.search-input {
    flex: 1;
    padding: 5% 10px;
    width: 84%;
    border: none;
    outline: none;
    font-size: 16px;
    color: black;
}


.search-button {
    padding: 5% 9.4px;
    border: none;

    background-color: #98b1d6;

    cursor: pointer;

    outline: none;
    float: right;
}
.change-color {
    color: #1b38c8;
}

.search-button:hover {
    background-color: #747fb8;
    font-size: 15px;
}

/*dropdown*/
.custom-select select{
    width: 100%;
    height: 30px;
    background-color: #3419a3;
    color: white;
    font-weight: bolder;
    border-radius: 0 0 12px 12px;
    border-top: none;
    text-align: center;
    font-size: 15px;
}

.custom-select select:hover{
    cursor: pointer;
}

.custom-select option{
    color: black;
    background-color: white;
}

/*---------------------------------------------------------*/
/*List of podcast for search*/
#search-block {
    width: 100%;
    padding: 20px

}

#search-block ul{
    background-color: #e2d8ea;
    border-radius: 10px;
}

#search-block li{
    text-align: left;
    width: 100%;
    /*border-bottom: solid 2px black;*/
}

.search-item{
    display: inline-flex;

    align-items: center;
    gap: 10px;
    padding: 2px 15px;
}

.search-item:hover{
    border-radius: 20px;
    background-color: #a3eae0;
    box-shadow: 10px 2px 12px #95d1b7;
    transition: ease-in-out 0.2s;
}

.search-item img{
    width: 120px;
    height: auto;
    text-align: left;
}

.search-item span{
    font-size: 15px;
    text-align: left;

}


/*---------------------------------------------------------*/
/*For a simple list of podcasts*/
.podcast-list {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between image and text */
}

.podcast-list img {
    width: 120px; /* Adjust the size as needed */
    height: auto;
}

.podcast-list span {
    font-size: 15px;
    color: black;
    text-align: left;
}

#podcast table {
    display: inline-block;
    text-align: left;
    background-color: #dacdf1;
    border-radius: 7px;
}

#podcast tr:hover {
    background-color: #c48dcc;
}

#podcast small {
    color: #978dcc;
    text-shadow: 1px 1px 1px #8dc7cc;
}



/*---------------------------------------------------------*/

#description p i {
    font-weight: bold;
}

.copyright {
  color: #ffffff;
  font-size: 0.3em;
  text-align: right;

  vertical-align: bottom;
}

/*---------------------------------------------------------*/
/*For podcasts in a grid*/


#podcast-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin: -50px auto;
  padding: 50px;
  max-width: 1200px;

}

.podcast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #409e90;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: 3px 8px 1px #1f4953;
}

.podcast-item:hover {
    background-color: #8dc7cc;
    border: 3px solid #672d8e;
    box-shadow: 3px 8px 5px #9c35a8;
}

.podcast-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.podcast-info {
  padding: 10px;
}

.podcast-info h3 {
  margin: 10px 0;
  font-size: 1.2em;
  font-weight: bold;
  color: #37342f;
}

.podcast-info p {
  font-size: 0.7em;
  color: #4c4242; /* Slightly lighter text */
}
/*---------------------------------------------------------*/

/* credentials.html */
.formwrapper {
    max-width: 500px;
    margin: 50px auto;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.title {
    color: #6e1ab3;
    text-align: center;
    font-size: 24px;
}

.btn-custom {
    background-color: #645dba;
    color: white;
    border-radius: 10px;
    padding: 15px 20px;
    cursor: pointer;
}

.btn-custom:hover {
    background-color: #4a3e7e;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #645dba;
    width: 400px;
    height: 30px;
    text-indent: 7px;
    font-size: 13px;
    color: black;
}

.form-control:focus {
    box-shadow: 0 0 5px rgba(100, 93, 186, 0.5);
    border-color: #6e1ab3;
}

.errors {
    color: red;
    margin-top: 5px;
}

.alert {
    margin-top: 10px;
}


/* user-status.html */
.user-status {
    position: absolute;
    top: 0.5%;
    right: 0.5%;
    padding: 15px;
    border-radius: 8px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 200px;
    text-align: right;
}

.user-status p {
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    top: 25%;
    right: 50%;
    text-align: left;
    background-color: #28a745;
    padding: 5px;
    border-radius: 5px;
}

.user-status a {
    display: inline-block;
    margin-top: 5px;
    padding: 8px 15px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.user-status a.btn {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
}

.user-status a.btn:hover {
    background-color: #0056b3;
}

.user-status a.btn-login {
    background-color: #28a745;
}

.user-status a.btn-login:hover {
    background-color: #218838;
}

.user-status a.btn-register {
    background-color: #ee07ff;
}

.user-status a.btn-register:hover {
    background-color: #b306a4;
}


/*********playlist***********/
#playlist-messages p{
    font-weight: bolder;
    color: white;
    font-size: 20px;
    background-color: #1a73b3;
    padding: 5px;
    border-radius: 8px;
}

.play {
    width: 95%;
}

.play i {
    font-size: 24px;
}

.play table {
    position: relative;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid black;
    padding-right: 20px;
}


/* login stuff */
.login-indicator {
    background-color: #62f375;
    opacity: 0.75;
    padding: 5px 15px 5px 15px;
    position: absolute;
    top: 19%;
    left: 50%;
    border-radius: 15px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 30px;
}

.login-indicator:hover {
    background-color: #41c379;
}


/* Review */
.review-item {
    padding: 10px 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 1px #545e5d;
}

.review-item strong {
    font-weight: 50;
    background-color: #c1dfd9;
    color: black;
    border: outset 2px black;
    border-radius: 3px;
    padding: 2px;
}

.review-item p {
    padding: 2px;
}
.purple-box {
    background-color: #e2d8ea;
    padding: 10px;
    box-shadow: 1.5px 1.5px 1px #1f4953;
    border-radius: 10px;
}


/* auth */

.good {
    background-color: #75f362;
    opacity: 0.75;
    padding: 5px 15px 5px 15px;
    text-shadow: 1px 1px 1px white;
    border-radius: 15px;
}

.good:hover {
    background-color: #41c379;
}


.bad {
    background-color: #e85757;
    opacity: 0.75;
    padding: 5px 15px 5px 15px;
    text-shadow: 1px 1px 1px black;
    border-radius: 15px;
}

.bad:hover {
    background-color: #d52428;
}
