<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

{% include "header.html" %}
    <div class="container">

        <a class="auth-back" onclick="history.go({{ counter }})">Back</a>
        <br>
        <br>
        <br>
        <div class="formwrapper">

            <h2 class="title">{{ title }}</h2>
            <br>
            <p><small>Please note that username is case-sensitive</small></p>
            <br>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="alert alert-warning">
                        <ul>
                            {% for category, message in messages %}

                                {% if message == "Password does not match Username" %}
                                <div class="bad"><li>{{ message }}</li></div>
                                {% else %}
                                <div class="good"><li>{{ message }}</li></div>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endwith %}

            <form method="POST">
                {{ form.csrf_token }}
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.user_name.label(class="form-label") }}
                    {{ form.user_name(class="form-control") }}
                    {% if form.user_name.errors %}
                        <ul class="errors">
                            {% for error in form.user_name.errors %}
                            <div class="bad"><li>{{ error }}</li></div>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <br>
                <div class="mb-3">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control") }}
                    {% if form.password.errors %}
                        <ul class="errors">
                            {% for error in form.password.errors %}
                            <div class="bad"><li>{{ error }}</li></div>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <br>
                <div class="d-grid">
                    {{ form.submit(class="btn btn-custom btn-block") }}
                </div>
                <br>
            </form>
            {% if title == 'Login' %}
                <p class="text-center mt-3">Don't have an account yet? <i><a href="{{ url_for('authentication_bp.register', counter=counter-1) }}">Register</a></i></p>
            {% else %}
                <p class="text-center mt-3">Do you already have an account? <i><a href="{{ url_for('authentication_bp.login', counter=counter-1) }}">Login</a></i></p>
            {% endif %}
        </div>
    </div>
</body>
</html>
